<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/add-project" method='POST'>
      <label>Enter Project Title
          <input type="text" name="title" required>
      </label>
      <label>Enter Project Description
          <input type="text" name="description" required>
      </label>
      <label>Enter Project Max Grade
          <input type="text" name="max_grade" required>
      </label>
      <input type="submit" value="Add Project">
  </form>

</body>
</html>