<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/add-project" method='POST'>
      <label>Enter Project Title
          <textarea name="title" rows="5" cols="10" required></textarea>
      </label> 
      <br>
      <label> Enter Project Description
      <textarea name="description" rows="20" cols="30" required></textarea>
    </label>
    <br>
      <label>Enter Project Max Grade
          <input type="text" name="max_grade" required>
      </label>
      <br>
      <input type="submit" value="Add Project">
  </form>

</body>
</html>